[submodule "vexor-checkout-nextjs"]
	path = vexor-checkout-nextjs
	url = https://github.com/Vectrals-Software/vexor-checkout-nextjs.git
[submodule "vexor-subscriptions-nextjs"]
	path = vexor-subscriptions-nextjs
	url = https://github.com/Vectrals-Software/vexor-subscriptions-nextjs.git
[submodule "vexor-marketplace-nextjs"]
	path = vexor-marketplace-nextjs
	url = https://github.com/Vectrals-Software/vexor-marketplace-nextjs.git
